doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
        title=title
    body 
        div.w3-container.w3-blue.w3-center
            h1.w3-wide.w3-col Библиотека
        div.w3-display-middle
            button(onclick="location.href='library';").w3-blue.w3-round-xxlarge.w3-xxxlarge.w3-padding-large.w3-hover-indigo Вход